<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8186a541-6a07-44bd-9afd-7185194e799f/resourceGroups/CDBMarketDataApi20210125205351ResourceGroup/providers/Microsoft.Web/sites/CDBMarketDataApi20210125205351</ResourceId>
    <ResourceGroup>CDBMarketDataApi20210125205351ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/8186a541-6a07-44bd-9afd-7185194e799f/resourceGroups/CDBMarketDataApi20210125205351ResourceGroup/providers/Microsoft.ApiManagement/service/CDBMarketDataApiapi/apis/CDBMarketDataApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cdbmarketdataapi20210125205351.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>fe92e788-058e-4c22-9a14-29a5330eb521</ProjectGuid>
    <MSDeployServiceURL>cdbmarketdataapi20210125205351.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CDBMarketDataApi20210125205351</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CDBMarketDataApi20210125205351</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>